---
Checks:          '-*,boost*,bugprone*,clang*,concurrency-*,cppcore*,hicpp*,llvm-*,-llvm-include-order,misc*,modernize*,-modernize-use-trailing-return-type,performance*,portability*,readability*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     'file'
...
